body
    direction: rtl
    background: #eee;

.post_title
    font-family: 'Heebo',sans-serif;
    font-style: normal;
    font-weight: 400;

div.post_body h1
    font-family: 'Alef',sans-serif
    font-size: 37px
    font-style: normal
    font-weight: 700

h2 a
    color: #0274be
    font-family: 'Alef',sans-serif
    font-style: normal
    font-weight: 400
    font-size: 1.3em

p
    font-family: 'Heebo',sans-serif
    font-style: normal
    font-weight: 400
    padding: unset
    line-height: 2em
    margin-bottom: 20px

.posts
    width: 80%
    padding: 3.994%
    margin-bottom: 30px
    background: #fff
    float: left
    box-shadow: 0 0 10px 10px rgba(50,50,50,.1)

.post_content
    width: 80%
    padding: 3.994%
    margin-bottom: 30px
    background: #fff
    float: left
    box-shadow: 0 0 10px 10px rgba(50,50,50,.1)
