@media screen and (max-width: $mobile-menu-breakpoint)
    main
        padding-top: unset !important
    .sidebar
        width: 100%
        float: none !important
        margin-left: auto
        margin-right: auto
        overflow: hidden
    .sidebar_inner
        padding: unset !important
    .nav_close svg:first-child
        margin-right: 100%
    .nav_close svg.isopen + svg
        margin-right: 100%
    .posts
        width: 100% !important
    article.post_content
        width: unset !important
    .content
        padding: unset
    .jsopen .nav_body
        z-index: 999999
    .relatedContainer
        display: block !important
        text-align: center !important
        align-items: unset
    div.relatedPostThumbnail img
        width: auto !important
        height: unset !important
        object-fit: cover !important
    .search_results
        overflow: unset
        overflow-y: scroll
        max-height: 20em
    .nav_header
        position: unset

body
    direction: rtl
    font-size: 1.2rem

iframe
    max-width: 100%

.author_header
    display: grid
    grid-template-columns: auto !important
    grid-gap: 1rem

div.blog_title
    color: #fff
    display: block
    margin-bottom: 0px

div.title
    font-size: 200%

div.blog_subtitle a
    text-decoration: underline !important
    color: #0077b8 !important

div.blog_subtitle
    color: #a8a8a8 !important
    font-family: 'Alef',sans-serif !important
    font-style: normal !important
    font-weight: 400 !important
    border-top-style: solid !important
    border-top-width: 2.5px !important
    font-size: 1.5em

img.author_header
    margin: auto

.nav_parent
    align-items: baseline

main
    padding-top: 8rem

.content
    padding-top: 1rem

.footer
    font-size: unset

footer.nav_footer div.nav_parent
    padding-left: 10%

.spaced_item
    padding-bottom: 5px !important

.nav_body
    align-items: baseline
    display: flex

.nav_footer
    background-color: #002538
    padding: 0.5em 15% 0.5em 0%
    width: 100%
    z-index: 99
    left: 0px
    color: #eeeeee

.nav_footer div.footer_inner.wrap.pale p
    margin-bottom: unset

.nav_icon:hover
    .nav_sub
        display: block
        height: auto
        color: transparent
        width: max-content
        right: 0
        transition: all 0.3s ease-in-out
    .nav_child
        color: black
        transition: all 0.3s ease-in-out

.nav_item
    display: unset

div.nav_parent a.nav_item:hover
    transition: all 0.3s ease-in-out

.cropped
    object-fit: cover
    height: 320px
    width: 640px

.image_featured
    max-width: 100%
    background-position: center center
    background-repeat: no-repeat

.post_title
    font-family: 'Alef',sans-serif
    font-style: normal
    font-weight: 400

div.post_body h1
    font-family: 'Alef',sans-serif
    font-size: 37px
    font-style: normal
    font-weight: 700

h2 a
    color: #0274be
    font-family: 'Alef',sans-serif
    font-style: normal
    font-weight: 400
    font-size: 1.3em

p
    font-family: 'Alef',sans-serif
    font-style: normal
    font-weight: 400
    padding: unset
    line-height: 1.5em
    margin-bottom: 20px

.posts
    width: 80%
    margin-bottom: 30px
    float: left
    margin-right: auto

.post_content
    width: 80%
    margin-bottom: 30px
    float: left
    margin-right: auto
    padding: 20px
    margin-top: 2rem
    box-shadow: 0 0 10px 10px rgba(50,50,50,0.1)

.sidebar
    margin-top: 1em

.sidebar_inner
    padding: 3.994%
    margin-bottom: 30px

.widget
    margin-bottom: 2em
    padding: 5px 20px 20px 20px
    box-shadow: 0 0 10px 10px rgba(50,50,50,0.1)
    word-break: break-word
    border-radius: 0.5rem

#posts.posts div.widget
    padding: 0px

.sidebar_inner::before
    left: unset

.search_field
    height: fit-content

.search_results
    overflow: unset
    overflow-y: scroll
    max-height: 20em

.excerpt_footer.partition
    grid-template-columns: unset

.excerpt_header
    padding: 1rem 1rem 0.1rem 1rem

/* Hidden element */ 
.visually-hidden
    position: absolute !important
    width: 1px !important
    height: 1px !important
    padding: 0 !important
    margin: -1px !important
    overflow: hidden !important
    clip: rect(0, 0, 0, 0) !important
    white-space: nowrap !important
    border: 0 !important

svg:not(:root)
    overflow: hidden
    position: relative

div.list-links div ul
    list-style: none

.follow
    display: block
    margin-top: 0.5rem
    text-align: right

.follow svg
    margin: 0rem

.icon
    width: 1.7rem
    height: 1.7rem

@keyframes shake
    0%
        transform: translate(1px, 1px) rotate(0deg)
    10%
        transform: translate(-1px, -2px) rotate(-1deg)
    20%
        transform: translate(-3px, 0px) rotate(1deg)
    30%
        transform: translate(3px, 2px) rotate(0deg)
    40%
        transform: translate(1px, -1px) rotate(1deg)
    50%
        transform: translate(-1px, 2px) rotate(-1deg)
    60%
        transform: translate(-3px, 1px) rotate(0deg)
    70%
        transform: translate(3px, 1px) rotate(-1deg)
    80%
        transform: translate(-1px, -1px) rotate(1deg)
    90%
        transform: translate(1px, 2px) rotate(0deg)
    100%
        transform: translate(1px, -2px) rotate(-1deg)

.post_share
    width: 50%
    align-items: center

div.post_meta span svg.icon
    width: 1rem
    height: 1rem

div.post_meta span svg.icon
    width: 1rem
    height: 1rem

a.post_category
    font-size: 1.2rem
    padding: 0.1rem 0.6rem

.nextprev
    display: block
    font-family: serif
    font-weight: bolder
    font-size: larger
    padding-top: 1rem

.nextpost
    float: right

.prevpost
    float: left

.loading
    text-align: center

img.loading
    display: block
    margin-left: auto
    margin-right: auto

.post_content a:not(.button)
    text-decoration: underline

.post_content a:hover
    text-decoration: unset

article.post_content div.nextprev div.nextpost a
    text-decoration: none

article.post_content div.nextprev div.prevpost a
    text-decoration: none

article.post_content h1.post_title a
    text-decoration: unset
    font-size: larger

.relatedContainer
    display: flex
    align-items: baseline

.relatedPost
    flex: 33.33%
    padding: 5px

.relatedPost:hover
    opacity: 60%

div.relatedPostThumbnail img
    width: auto
    height: 9rem
    object-fit: cover
    display: block
    margin-left: auto
    margin-right: auto

div.relatedPostTitle
    font-size: larger !important
    text-align: center

div.relatedPost a
    text-decoration: none !important

.highlight_wrap
    display: grid
    background: #f2f2f2 !important
    border: 1px solid #ccc
    border-radius: 4px

code
    color: #333 !important

code.language-fallback span.line span.ln
    color: #333 !important

div.gc-counter
    color: #b2c1c9
    font: inherit

all-posts-list
    padding: 0.0rem 1.25rem

a.all-posts-list-item
    text-decoration: none !important
    margin-left: 0.7rem

.archive-menu
    padding-right: 1rem

.year-list
    & li
        list-style: disclosure-closed
        &.opened
            list-style: disclosure-open

.year-toggle
    background: none
    border: none
    width: 100%
    cursor: pointer
    font-size: 15px
    text-align: right
    color: unset

.month-list
    padding-left: 20px
    display: none
    text-align: right

    &.open
        display: block

    & li
        padding: 4px 0
        font-size: 14px
        cursor: pointer
        list-style: none

    & li:hover
        text-decoration: underline
