@media screen and (max-width: $mobile-menu-breakpoint)
    .sidebar
        width: 100%
        float: none !important
        margin-left: auto
        margin-right: auto
        overflow: hidden
    .nav_close svg:first-child
        margin-right: 100%
    .nav_close svg.isopen + svg
        margin-right: 100%
    .posts
        width: 100% !important
    article.post_content
        width: unset !important
    .content
        padding: unset
    .jsopen .nav_body
        z-index: 999999

body
    direction: rtl
    background: #eee

.author_header
    display: grid
    grid-template-columns: auto !important
    grid-gap: 1rem

div.blog_title h1
    color: #fff
    display: block
    margin-bottom: 0px

div.blog_subtitle
    color: #a8a8a8 !important
    font-family: 'Alef',sans-serif !important
    font-style: normal !important
    font-weight: 400 !important
    border-top-style: solid !important
    border-top-width: 2.5px !important
    font-size: 1.7em
    padding-bottom: 0.7em

img.author_header
    margin: auto

.nav_header
    position: unset

.nav_parent
    align-items: baseline

.content
    padding-top: 1rem

.footer
    font-size: unset

footer.nav_footer div.nav_parent
    padding-left: 10%

.spaced_item
    padding-bottom: 5px !important

.nav_body
    align-items: baseline
    display: flex

.nav_footer
    background-color: #002538
    padding: 0 15% 0 0%
    width: 100%
    z-index: 99
    left: 0px

.nav_icon:hover
    .nav_sub
        display: block
        background: white
        height: auto
        color: transparent
        width: max-content
        right: 0
        transition: all 0.3s ease-in-out
    .nav_child
        color: black
        transition: all 0.3s ease-in-out

.nav_item
    display: unset

div.nav_parent a.nav_item:hover
    background-color: grey
    transition: all 0.3s ease-in-out

.nav_item_title
    font-weight: bold
    font-family: 'Roboto Slab'
    padding-bottom: 1em

.image_featured
    max-width: 100%
    background-position: center center
    background-repeat: no-repeat

.post_title
    font-family: 'Alef',sans-serif
    font-style: normal
    font-weight: 400

div.post_body h1
    font-family: 'Alef',sans-serif
    font-size: 37px
    font-style: normal
    font-weight: 700

h2 a
    color: #0274be
    font-family: 'Alef',sans-serif
    font-style: normal
    font-weight: 400
    font-size: 1.3em

p
    font-family: 'Alef',sans-serif
    font-style: normal
    font-weight: 400
    padding: unset
    line-height: 2em
    margin-bottom: 20px

.posts
    width: 80%
    margin-bottom: 30px
    background: #eeeeee
    float: left
    margin-right: auto

.post_content
    width: 80%
    margin-bottom: 30px
    background: #fff
    float: left
    margin-right: auto
    padding: 20px
    margin-top: 2rem
    box-shadow: 0 0 10px 10px rgba(50,50,50,0.1)

.sidebar
    margin-top: 1em

.sidebar_inner
    padding: 3.994%
    margin-bottom: 30px
    background: unset !important

.widget
    margin-bottom: 2em
    background: white
    padding: 5px 20px 20px 20px
    box-shadow: 0 0 10px 10px rgba(50,50,50,0.1)
    word-break: break-word
    border-radius: 0.5rem

#posts.posts div.widget
    padding: 0px

.sidebar_inner::before
    left: unset
    background: unset

.search_results
    overflow: unset
    overflow-y: scroll
    max-height: 20em

.excerpt_footer.partition
    grid-template-columns: unset
/* Hidden element */ 
.visually-hidden
    position: absolute !important
    width: 1px !important
    height: 1px !important
    padding: 0 !important
    margin: -1px !important
    overflow: hidden !important
    clip: rect(0, 0, 0, 0) !important
    white-space: nowrap !important
    border: 0 !important

svg:not(:root)
    overflow: hidden
    position: relative

div.list-links div ul
    list-style: none

.follow
    display: block

.follow svg
    margin: 0.1rem

.icon
    width: 2.5rem
    height: 2.5rem

.post_share
    width: 50%
    align-items: center

.post_meta span
    margin-bottom: unset

div.post_meta span svg.icon
    width: 1rem
    height: 1rem

div.post_meta span svg.icon
    width: 1rem
    height: 1rem

a.post_category
    font-size: 1.2rem
    padding: 0.1rem 0.6rem

.bskypost
    padding: 0.5rem
    border-bottom-style: solid
    border-bottom-width: 2px
    border-bottom-color: #d7cccc

.bskypost:hover
    cursor: pointer
    background-color: rgba(124, 124, 124, 0.2)
    transition: 0.2s

.bskypost_author
    direction: ltr
    text-align: left
    font-weight: bold
    color: rgb(0, 133, 255)

.bskypost_time
    direction: ltr
    font-size: smaller
    text-align: right
    color: #5757574f

.bskypost_repost
    font-size: smaller
    direction: ltr
    text-align: left
    font-weight: bold
    color: rgb(141, 143, 151)

div.bskypost_quote
    direction: rtl
    text-align: right
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    font-size: smaller
    color: black
    border-style: solid
    border-width: 1px
    border-color: rgb(224, 217, 217)
    border-radius: 8px
    padding: 12px

.bskypost_reply
    direction: ltr
    text-align: left
    font-weight: bold
    color: rgb(141, 143, 151)

div.bskypost_description p
    direction: rtl
    text-align: right
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    font-size: initial
    color: black

.nextprev
    display: block
    font-family: serif
    font-weight: bolder
    font-size: larger
    padding-top: 1rem

.nextpost
    float: right

.prevpost
    float: left

hr
    background: #a49e9e

.loading
    text-align: center

img.loading
    display: block
    margin-left: auto
    margin-right: auto

.post_content a:not(.button)
    text-decoration: underline

.post_content a:hover
    text-decoration: unset

article.post_content div.nextprev div.nextpost a
    text-decoration: none

article.post_content div.nextprev div.prevpost a
    text-decoration: none

article.post_content h1.post_title a
    text-decoration: unset
    color: unset