<div class="archive-menu">
    <ul class="year-list">
        {{ $years := .Site.Taxonomies.year }}
        {{ $months := .Site.Taxonomies.month }}
        {{ range $years }}
          {{ $year := .Page.Title }}
          <li>
            <button class="year-toggle">{{ $year }} ({{ len . }})</button>
            <ul class="month-list">
                {{ range $months }}
                  {{ if in .Page.Title $year }}
                    {{ $month := index (split .Page.Title "/") 1 }}
                    <li>
                      {{ $name := "" }}
                      {{- range where $.Site.Data.Months "month" $month -}}
                        {{ $name = .name }}
                      {{ end }}
                      <a href="/{{$year}}/{{$month}}">{{ $name }} ({{ len . }})</a>
                    </li>
                  {{ end }}
                {{ end }}
            </ul>
          </li>
        {{ end }}
    </ul>
</div>

<script lang="javascript">
  document.querySelectorAll('.year-toggle').forEach(function(btn) {
    btn.addEventListener('click', function() {
      // Close other open month lists
      document.querySelectorAll('.month-list').forEach(function(list) {
        if (list !== btn.nextElementSibling) {
          list.classList.remove('open');
        }
      });
      // Toggle the clicked year
      btn.nextElementSibling.classList.toggle('open');
      btn.parentElement.classList.toggle('opened');
    });
  });
</script>