{{- $params := site.Params }}
{{- if site.Params.enableSearch }}
  {{- $placeholder :=  T "search_field_placeholder" }}
  {{- $section := $.Page.Section }}
  {{- $simple := true }}
  {{- if and (eq $section "support") (eq .CurrentSection .FirstSection) }}
  {{- else }}
    {{- $placeholder =  T "blog_search_field_placeholder" }}
    {{- $simple = false }}
  {{ end }}
  <div class="search">
    <form action="/search">
      <input type="search" class="search_field form_field" name="query" placeholder='{{ $placeholder }}' id="find" autocomplete="off">
      <label for="find" class="search_label">
        {{- partial "sprite" (dict "icon" "search" "style" "float:left;margin-top:50%;margin-left:70%;") }}
      </label>
      {{ if $simple }}
      {{ end }}
    </form>
    <div class="search_results results"></div>
  </div>
{{- end }}
