{{- $stories := where .Site.RegularPages "Params.categories" "intersect" (slice "סיפורים") -}}
{{- $posts := slice -}}
{{- range $stories -}}
    {{- $date := .Date -}}
    {{- with .Params.storyPublishDate -}}
        {{- $date = . -}}
    {{- end -}}
    {{- $post := dict "Title" (replace .Title " (סיפור)" "")  "Date" (time.AsTime $date) "Link" .RelPermalink "Description" .Description -}}
    {{- $posts = $posts | append $post -}}
{{- end -}}

{{- range .Site.Data.storiesEx -}}
    {{- $post := dict "Title" .title  "Date" (time.AsTime .date) "Link" .link "Description" .description -}}
    {{- $posts = $posts | append $post -}}
{{- end -}}

{{- range sort $posts "Date" "desc" -}}
    <p>{{- printf "**[%s](%s)** - %s." .Title .Link .Description | markdownify -}}</p>
{{- end -}}