{{ $pages := .Pages }}
{{ if .IsHome }}
{{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}

{{ if eq site.Params.pinFeatured true }}
{{ $featured := default 8 site.Params.numberOfPinnedPosts }}
{{ $featuredPosts := first $featured (where $pages "Params.featured" true)}}
{{ $normalPosts := $pages | symdiff $featuredPosts }}
{{ $pages = $featuredPosts | append $normalPosts }}
{{ end }}
<div class="grid-inverse wrap content">
  <ul class="posts" id="posts">
    {{- range (.Paginate $pages).Pages }}
    <div class="widget">
      {{ partial "excerpt" . }}
    </div>
    {{- end }}
    <li>
      {{- template "_internal/pagination.html" . }}
    </li>
  </ul>
  {{- partial "sidebar" . }}
</div>

<script type="text/javascript">
  (function () {
    var __semio__token;
    var __semio__callback;

    (function () {
      var gc = document.createElement("script");
      gc.type = "text/javascript";
      gc.async = true;
      gc.onload = __semio__onload;
      gc.defer = true;
      gc.src = "https://integration.graphcomment.com/" + lib + ".js";
      (
        document.getElementsByTagName("head")[0] ||
        document.getElementsByTagName("body")[0]
      ).appendChild(gc);
    })();
  })();
</script>