<div id="graphcomment"></div>
<script type="text/javascript">
    (function() {
      var __semio__token;
      var __semio__callback;
  
      var __semio__params = {
        graphcommentId:  'Frustrated-Writer',

        wordpress: {
          guid: 'https://aizenimr.com/?p=4063',
          identifier: '%d7%a0%d7%95%d7%91%d7%9e%d7%91%d7%a8%d7%95%d7%a0%d7%99%d7%9d-2022',
        }
            };
  
                    var lib = 'gc_graphlogin';
            
      function __semio__onload() {
        window['__semio__' + lib](__semio__params)
      }
  
  
      (function() {
        var gc = document.createElement('script');
        gc.type = 'text/javascript';
        gc.async = true;
        gc.onload = __semio__onload;
        gc.defer = true;
        gc.src = 'https://integration.graphcomment.com/' + lib + '.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
      })();
  
  
      
      function __semio__onload__counter() {
        __semio__helpers_counter('Frustrated-Writer');
      };
  
      (function() {
        var gc = document.createElement('script');
        gc.type = 'text/javascript';
        gc.async = true;
        gc.onload = __semio__onload__counter;
        gc.defer = true;
        gc.src = 'https://integration.graphcomment.com/helpers_counter.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
      })();
    })()
  </script>