{{- $params := .Site.Params }} {{- $centerLogo := $params.centerLogo }} {{ $logo
:= $params.logo }}
<header class="nav_header">
  <nav class="nav">
    {{- if $centerLogo }}
    {{- partialCached  "logo" (dict "logo" $logo "class" "nav_hide" "kind" .Page.Kind) .Page.Kind }}
  {{- else }}
    {{- partialCached  "logo" (dict "logo" $logo "kind" .Page.Kind) .Page.Kind }}
  {{- end }}
    <div class="nav_parent">
      <div class='nav_body nav_body_{{ default "left" $params.mobileNavigation }}'>
        {{ $context := . }}
        {{ $menuData := .Site.Data.menu }}
        {{ with $menuData }}
          {{ partial "nav" (dict "context" $context "menu" $menuData) }}
        {{- else }}
          {{ partial "nav" (dict "context" . "menu" .Site.Menus.main) }}
          {{- end }}
          <div>
          {{ partial "search/widget" . }}
            <div>
              {{ partial "follow" . }}
            </div>
          </div>
      </div>
    </div>
  </nav>
</header>