{{ $s := site.Params }}
<aside class="sidebar">
  <section class="sidebar_inner">
    <div class="widget">
      {{ partial "about-me" . }}
    </div>
    <div class="widget">
      <h2>בלוסקיי</h2>
      {{ partial "bsky" }}
    </div>
    <div class="widget">
      <h2>ארכיון</h2>
      {{ partial "archive-dropdown" . }}
    </div>
    <div class="widget">
      {{ partial "cloud" (dict "context" . "tax" "categories") }}
    </div>
    <div class="widget">
      {{ partial "cloud" (dict "context" . "tax" "tags") }}
    </div>
    <div class="widget">
      <h2>קהילת "פרפרים"</h2>
      {{ partial "parparim" }}
    </div>
    <div class="widget">
      <h2>אחרי מי אני עוקב</h2>
      {{ partial "listOfLinks" . }}
    </div>
  </section>
</aside>