<ul class="all-posts">
  {{range .Site.RegularPages }} {{ if eq .Type "post" }}
    <li>
      <span><a href="{{.Permalink}}">{{.Title}}</a></span>
      <span style="margin: 0 0.2em 0 0.2em; font-size: small; color: #8f8e8e;">{{.Date.Format (default "Jan 2, 2006" $.Site.Params.dateFormat)}}</span>
        {{- with .Params.categories -}}
        <span style="margin-left: 0.5rem; margin-right: 0.5rem;">
          {{- range . }} {{- $category := urlize . -}}
            <strong style="font-size: initial;"
              ><a
                href='{{ absLangURL (printf "category/%s/" $category) }}'
                style="font-size: large;"
                class="all-posts-list-item post_tag button button_translucent"
                >{{ . }}
              </a></strong>
          {{- end }}
        </span>
      {{- end }}
      {{- with .Params.tags -}}
        <span>
          {{- range . }} {{- $tag := urlize . -}}
            <a
                href='{{ absLangURL (printf "tag/%s/" $tag) }}'
                class="all-posts-list-item post_tag button button_translucent"
                >{{ . }}
            </a>
          {{- end }}
        </span>
      {{- end }}
    </li>
    {{ end }}
  {{end}}
</ul>