{{ range .Site.AllPages.ByDate.Reverse }} {{ if eq .Params.type "post" }}
<ul class="all-post-list" id="all-posts">
  <li>
    <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
    <span class="post_date">
      {{ .Date.Format (default "Jan 2, 2006" $.Site.Params.dateFormat) -}}
    </span>
    <p>
    {{- with .Params.category -}}
    <span>
      {{- range . }} {{- $category := urlize . -}}
      <strong
        ><a
          href='{{ absLangURL (printf "category/%s/" $category) }}'
          class="all-posts-list-item"
          >{{ . }}
        </a></strong
      >
      {{- end }} {{- end }}
      <br
    /></span>
    {{- with .Params.tags -}}
    <span>
      {{- range . }} {{- $tag := urlize . -}}
      <a
        href='{{ absLangURL (printf "tag/%s/" $tag) }}'
        class="all-posts-list-item"
        >{{ . }}
      </a>
      {{- end }}
    </span></p>
    {{ end }}
  </li>
</ul>
{{ end }} {{ end }}
