{{- $title := .Get 0 -}}
{{- $btnTextBefore := .Get 1 -}}
{{- $btnTextAfter := .Get 2 -}}
<div>
    <p><em>{{ $title }}</em>
        <script type="text/javascript">
            function toggle(t) {
                let textList = document.getElementsByClassName("toggled-text");
                if (t.innerHTML == "{{ $btnTextBefore }}") {
                    t.innerHTML = "{{ $btnTextAfter }}";
                    for (const element of textList) {
                        element.style.visibility = 'hidden';
                        element.style.opacity = '0';
                        element.style['font-size'] = '0';
                        element.style.margin = '-0.1rem';
                    }
                } else {
                    t.innerHTML = "{{ $btnTextBefore }}";
                    for (const element of textList) {
                        element.style.visibility = 'visible';
                        element.style.opacity = '1';
                        element.style['font-size'] = 'unset';
                        element.style.margin = 'unset'
                    }
                }
            }
        </script>
        <button onclick="toggle(this)" class="button" style="box-shadow: 3px 4px 0px 0px #1564ad;">{{ $btnTextBefore }}</button>
    </p>
</div>